<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcel Search</title>
    <script>
        function redirectToParcel() {
            var parcelId = document.getElementById('parcel-id').value;
            var orderId = document.getElementById('order-id').value;
            var userId = document.getElementById('user-id').value;

            if (parcelId) {
                window.location.href = '/parcel/' + parcelId;
            } else if (orderId) {
                window.location.href = '/order/' + orderId;
            } else if (userId) {
                window.location.href = '/user/' + userId;
            } else {
                alert('Please enter a valid ID in any field.');
            }
            return false; // Pour éviter le rechargement de la page par le formulaire
        }
    </script>
</head>
<body>
    <h1>Search for a Parcel</h1>
    <form onsubmit="return redirectToParcel()">
        <label for="parcel-id">Parcel ID:</label>
        <input type="text" id="parcel-id" name="parcel_id">
        <br>
        <label for="order-id">Order ID:</label>
        <input type="text" id="order-id" name="order_id">
        <br>
        <label for="user-id">User ID:</label>
        <input type="text" id="user-id" name="user_id">
        <br>
        <input type="submit" value="Search">
    </form>
    <p>
        <a href="/all_parcels">View All Parcels</a>
    </p>
</body>
</html>